<div class="container">
  <h2 class="title">Deploy jobs: <%= params[:id] %></h2>

  <% if @deploy_job.present? %>
    <% github_client = Genova::Github::Client.new(@deploy_job.repository) %>
    <dl class="meta">
      <div class="columns">
        <dt class="column is-2">Status</dt>
        <dd class="column is-4">
          <% if @deploy_job.status == 'success' %>
            <i class="fa fa-check-circle"></i>
          <% elsif ['initial', 'provisioning', 'deploying', 'reserved_cancel'].include?(@deploy_job.status) %>
            <i class="fa fa-spinner fa-spin"></i>
          <% elsif @deploy_job.status == 'failure' %>
            <i class="fa fa-exclamation-triangle"></i>
          <% elsif @deploy_job.status == 'cancel' %>
            <i class="fa fa-times-circle"></i>
          <% end %>
          <%= @deploy_job.status %>
        </dd>
        <dt class="column is-2">Account</dt>
        <dd class="column is-4"><%= @deploy_job.account %></dd>
      </div>
      <div class="columns">
        <dt class="column is-2">Repository</dt>
        <dd class="column is-4">
          <i class="fab fa-github"></i>
          <%= link_to(@deploy_job.repository, github_client.build_repository_uri) %>
        </dd>
        <% if @deploy_job.branch.present? %>
          <dt class="column is-2">Branch</dt>
          <dd class="column is-4">
            <i class="fab fa-github"></i>
            <%= link_to(@deploy_job.branch, github_client.build_branch_uri(@deploy_job.branch)) %>
          </dd>
        <% else %>
            <dt class="column is-2">Tag</dt>
            <dd class="column is-4">
            <i class="fab fa-github"></i>
            <%= link_to(@deploy_job.tag, github_client.build_branch_uri(@deploy_job.tag)) %>
          </dd>
        <% end %>
      </div>
      <div class="columns">
        <dt class="column is-2">Commit</dt>
        <dd class="column is-4">
          <% if @deploy_job.commit_id.present? %>
            <i class="fab fa-github"></i>
            <%= link_to(@deploy_job.commit_id[0, 7], github_client.build_commit_uri(@deploy_job.commit_id)) %>
          <% end %>
        </dd>
        <% if @deploy_job.deployment_tag.present? %>
          <dt class="column is-2">Git tag</dt>
          <dd class="column is-4">
            <i class="fab fa-github"></i>
            <%= link_to(@deploy_job.deployment_tag, github_client.build_tag_uri(@deploy_job.deployment_tag)) %>
          </dd>
        <% end %>
      </div>
      <div class="columns">
        <dt class="column is-2">Mode</dt>
        <dd class="column is-4"><%= @deploy_job.mode %></dd>
        <dt class="column is-2">Type</dt>
        <dd class="column is-4"><%= readable_type(@deploy_job.type) %></dd>
      </div>
      <div class="columns">
        <dt class="column is-2">Cluster</dt>
        <dd class="column is-4"><%= @deploy_job.cluster %></dd`>
        <% if @deploy_job.service.present? %>
          <dt class="column is-2">Service</dt>
          <dd class="column is-4"><%= @deploy_job.service %></dd>
        <% end %>
      </div>
      <% if @deploy_job.type == DeployJob.type.find_value(:run_task) %>
        <div class="columns">
          <dt class="column is-2">Run task</dt>
          <dd class="column is-4"><%= @deploy_job.run_task %></dd>
          <% if @deploy_job.override_container.present? %>
            <dt class="column is-2">Override container / Override command</dt>
            <dd class="column is-4"><%= @deploy_job.override_container %> / <%= @deploy_job.override_command %></dd>
          <% end %>
        </div>
      <% end %>
      <% if @deploy_job.type == DeployJob.type.find_value(:scheduled_task) %>
        <div class="columns">
          <dt class="column is-2">Scheduled task rule</dt>
          <dd class="column is-4"><%= @deploy_job.scheduled_task_rule %></dd>
          <dt class="column is-2">Scheduled task target</dt>
          <dd class="column is-4"><%= @deploy_job.scheduled_task_target %></dd>
        </div>
      <% end %>
      <% if @deploy_job.mode == DeployJob.mode.find_value(:slack) %>
        <div class="columns">
          <dt class="column is-2">Slack user</dt>
          <dd class="column is-4"><%= @deploy_job.slack_user_name %></dd>
        </div>
      <% end %>
      <% if @deploy_job.task_definition_arn.present? %>
        <div class="columns">
          <dt class="column is-2">Task definition ARN</dt>
          <dd class="column is-10"><%= @deploy_job.task_definition_arn %></dd>
        </div>
      <% end %>
      <% if @deploy_job.task_arns.present? %>
        <div class="columns">
          <dt class="column is-2">Task ARNs</dt>
          <dd class="column is-10">
            <ul>
              <% @deploy_job.task_arns.each do |task_arn| %>
                <li><%= task_arn %></li>
              <% end %>
            </ul>
          </dd>
        </div>
      <% end %>
      <div class="columns">
        <dt class="column is-2">Created at</dt>
        <dd class="column is-4"><%= @deploy_job.created_at %></dd>
      </div>
      <div class="columns">
        <dt class="column is-2">Started at</dt>
        <dd class="column is-4"><%= @deploy_job.started_at %></dd>
        <dt class="column is-2">Finished at</dt>
        <dd class="column is-4"><%= @deploy_job.finished_at %></dd>
      </div>
      <div class="columns">
        <dt class="column is-2">Execution time</dt>
        <dd class="column is-10">
          <% if @deploy_job.execution_time.present? %>
            <%= BigDecimal(@deploy_job.execution_time.to_s).floor(2).to_f %> sec
          <% end %>
        </dd>
      </div>
    </dl>

    <h3 class="title is-5">Logs</h3>
    <% if @deploy_job.logs.present? %>
      <div class="logs">
        <% @deploy_job.logs.each do |log| %>
          <pre><%= log %></pre>
        <% end %>
      </div>
    <% else %>
      <p>Log does not exist.</p>
    <% end %>
  <% else %>
   <p>No data found.</p>
  <% end %>
</div>
