<h2>Deploy jobs: <%= params[:id] %></h2>

<div class="parameters">
  <div class="row">
    <div class="small-4 large-2 columns parameter-id">Status</div>
    <div class="small-8 large-4 columns">
      <% if @deploy_job.status == 'success' %>
        <i class="fa fa-check-circle" aria-hidden="true"></i>
      <% elsif @deploy_job.status == 'in_progress' %>
        <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
      <% elsif @deploy_job.status == 'failure' %>
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      <% end %>
      <%= @deploy_job.status %>
    </div>
    <div class="small-4 large-2 columns parameter-id">Account</div>
    <div class="small-8 large-4 columns"><%= @deploy_job.account %></div>
  </div>
  <div class="row">
    <div class="small-4 large-2 columns parameter-id">Repository</div>
    <div class="small-8 large-4 columns"><%= @deploy_job.repository %></div>
    <div class="small-4 large-2 columns parameter-id">Branch</div>
    <div class="small-8 large-4 columns"><%= @deploy_job.branch %></div>
  </div>
  <div class="row">
    <div class="small-4 large-2 columns parameter-id">Commit</div>
    <div class="small-8 large-4 columns">
      <% if @deploy_job[:commit_id].present? %>
        <i class="fa fa-github" aria-hidden="true"></i>
        <%= link_to(@deploy_job[:commit_id][0, 7], "https://github.com/#{@deploy_job[:account]}/#{@deploy_job[:repository]}/commit/#{@deploy_job[:commit_id]}") %>
      <% end %>
    </div>
    <div class="small-4 large-2 columns parameter-id">Environment</div>
    <div class="small-8 large-4 columns"><%= @deploy_job.environment %></div>
  </div>
  <div class="row">
    <div class="small-4 large-2 columns parameter-id">Mode</div>
    <div class="small-8 large-4 columns"><%= @deploy_job.mode %></div>
    <div class="small-4 large-2 columns parameter-id">
      <% if @deploy_job.mode == CI::Deploy::Client.mode.find_value(:slack) %>
        Slack user
      <% end %>
    </div>
    <div class="small-8 large-4 columns">
      <% if @deploy_job.mode == CI::Deploy::Client.mode.find_value(:slack) %>
        <%= @deploy_job.slack_user_name %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="small-4 large-2 columns parameter-id">Task definition ARN</div>
    <div class="small-8 large-10 columns end"><%= @deploy_job.task_definition_arn %></div>
  </div>
  <div class="row">
    <div class="small-4 large-2 columns parameter-id">Created at</div>
    <div class="small-8 large-4 columns end"><%= @deploy_job.created_at %></div>
  </div>
  <div class="row">
    <div class="small-4 large-2 columns parameter-id">Started at</div>
    <div class="small-8 large-4 columns"><%= @deploy_job.started_at %></div>
    <div class="small-4 large-2 columns parameter-id">Finished at</div>
    <div class="small-8 large-4 columns"><%= @deploy_job.finished_at %></div>
  </div>
  <div class="row">
    <div class="small-4 large-2 columns parameter-id">Execution time</div>
    <div class="small-8 large-10 columns end">
      <% if @deploy_job.execution_time.present? %>
        <%= BigDecimal(@deploy_job.execution_time.to_s).floor(2).to_f %> sec
      <% end %>
    </div>
  </div>
</div>

<h3>Logs</h3>
<% if @deploy_job.logs.present? %>
  <div class="logs">
    <% @deploy_job.logs.each do |log| %>
      <pre><%= log %></pre>
    <% end %>
  </div>
<% else %>
  <p>Log does not exist.</p>
<% end %>
