<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no" />
    <title>genova</title>
    <%= stylesheet_link_tag('/assets/stylesheets/application') %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to('genova', deploy_jobs_path, class: 'navbar-item') %>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/sidekiq">Sidekiq</a>
        </div>
      </div>
    </nav>

    <section class="section">
      <%= yield %>
    </section>

    <%= javascript_include_tag('/assets/javascripts/application') %>
  </body>
</html>
